---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 16 2023')}
	updatedDate={new Date('March 16 2023')}
>
	<p>
		Writing about myself is pretty difficult for me, even after having done this numerous times over many years.
		Simple descriptions of what I do: I work for the government of Canada during my daytime and work on side projects the rest of the time.
	</p>
	<p>
		I grew up reading about inventors of the worlds, the builders of society. True engineers.
		I'm inspired about the feats they've accomplished to push us forward; water wheels and aquaducts, our telephones and the internet, the celestial maps and reusable rockets.
		It motivates me to keep pushing to learn, if not to contribute then at least to stay compentent enough to touch the cutting edge.
	</p>
	<p>
		I love to build and hack things. I love formulating new concepts and moving the ideas into reality.
	</p>
	<p>
		Welcome to my blog.
	</p>
</Layout>
<style>
	p img {
		width: 1em;
		height: 1em;
		vertical-align: middle;
		padding-bottom: 0.1em;
	}
</style>