---
import HeaderLink from './HeaderLink.astro';
import HeaderIcon from './HeaderIcon.astro';
import { SITE_TITLE } from '../consts';
import linkedin from '/linkedin.svg';
import github from '/github.svg';
---

<header>
	<h2>
		<a href="/" class="title">{SITE_TITLE}</a>
	</h2>
	<nav>
		<HeaderLink href="/blog">blog</HeaderLink>
		<HeaderLink href="/about">about</HeaderLink>
		<HeaderIcon href="https://www.linkedin.com/in/tedkim03"><img src={linkedin} alt="linkedin" /></HeaderIcon>
		<HeaderIcon href="https://github.com/10ego"><img src={github} alt="github" /></HeaderIcon>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
	.title {
		text-decoration:none;
		color: black;
	}
</style>
